<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
		<!-- Card column -->
		<div fxFlex.gt-sm="100%" fxFlex="100">
				<mat-card>
					<mat-card-content>
						<mat-card-title>Producción Académica</mat-card-title>
					</mat-card-content>
			 </mat-card>


			<mat-card>
					<mat-card-content>
            <form>
             <div class="form-group">
               <label>Nombre de la Producción</label>
               <input type="text" class="form-control" id="nombreProduccion" name ="nombreProduccion">
             </div>
              <div class="form-group">
                <label>Tipo</label>
                <input type="text" class="form-control" id="tipoProduccion" name ="tipoProduccion">
              </div>
              <div class="form-group">
                <label>Descripción</label>
                <input type="textarea" class="form-control" id="descripcionProduccion" name ="descripcionProduccion">
              </div>


              <br><div> <button mat-raised-button color="accent" >Crear</button></div>
            </form>


					</mat-card-content>
			</mat-card>
      <mat-card>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
		</div>
</div>
