<div fxFlex="100" fxLayoutAlign="center center" >
    <div fxFlex="45">
      <div class="new-crear-container">
        <mat-card>
          <mat-card-title style="color: #121e63" align="center">Producción Académica</mat-card-title>
        </mat-card>
        <mat-card>
					<mat-card-content>
            <form [formGroup]="crearForm">
             <div class="form-group">
               <label>Nombre de la Producción: </label>
               <input type="text" class="form-control" formControlName="nombreProduccion" placeholder="Nombre de la producción">
             </div>
              <div class="alert-danger" *ngIf="nombreProduccion.invalid && nombreProduccion.touched">
                <div class="container-error-message" *ngIf="nombreProduccion.errors.required">
                  El Nombre es requerido.
                </div>
                <div class="container-error-message" *ngIf="nombreProduccion.errors.maxlength">
                  La nombre es demasiado largo. maximo 60 caracteres.
                </div>
              </div>
              <div class="form-group">
                <label>Tipo: </label>

                <mat-select name="tipo" class="form-control" formControlName="tipo">
                <mat-option value="Investigación">Investigación</mat-option>
                <mat-option value="Publicación">Publicación</mat-option>
                <mat-option value="Libro">Libro</mat-option>
                <mat-option value="Ensayo">Ensayo</mat-option>
                <mat-option value="Tesis">Tesis</mat-option>
              </mat-select>
              </div>
              <div class="alert-danger" *ngIf="tipo.invalid && tipo.touched">
                <div class="container-error-message" *ngIf="tipo.errors.required">
                  El tipo es requerido.
                </div>
              </div>

              <div class="form-group">
                <label>Descripción: </label>
                <textarea class="form-control" formControlName="descripcion"></textarea>
                </div>
              <div class="alert-danger" *ngIf="descripcion.invalid && descripcion.touched">
                <div class="container-error-message" *ngIf="descripcion.errors.required">
                  La descripción es requerida.
                </div>
                <div class="container-error-message" *ngIf="descripcion.errors.minlength">
                  La descripción es demasiado corta.
                </div>

              </div>
              <div class="container-input-file">
                <label class="custom-file">
                  <input type="file" formControlName="archivo" (change)="handleArchivo ($event)"/>
                  <mat-icon>cloud_upload</mat-icon><span>&nbsp;  Elegir Archivo</span>
                </label>
              <div>
                <mat-progress-bar mode="determinate" [value]="num"></mat-progress-bar>
              </div>

             <br> </div>
             <div> <button mat-raised-button color="accent" (click)="onSavedForm()"[disabled]="!crearForm.valid">Crear</button></div>
              </form>

					</mat-card-content>
			  </mat-card>
       </div>
              </div>
            </div>



