
		<div fxFlex.gt-sm="80%" >
      <mat-card>
        <mat-card-content>
          <mat-card-title>Producciónes Académicas Registradas</mat-card-title>
        </mat-card-content>
      </mat-card>
				<mat-card>
						<mat-card-content>


							<mat-card-subtitle>Lista de Producciones</mat-card-subtitle>
							<mat-list *ngIf="produccion$ | async as produccion; else loading">

                  <mat-list-item *ngFor="let produccion of produccion$ | async">
                    <a matLine [routerLink]="['produccion.nombreProduccion']">
                      {{produccion.nombreProduccion}}
                    </a>
                    <h3 matLine>{{produccion.tipo}}</h3>
                    <p matLine class="text-muted">{{produccion.descripcion}}</p>
                  </mat-list-item>
							</mat-list>
						</mat-card-content>
				</mat-card>
		</div>

    <ng-template #loading>
      <div class="container-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

