.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 15em;
}


.example-headers-align .mat-expansion-panel-header-description {
  align-items: start;
}
.mat-card{
  height: auto;
  margin: 0;
  color: #e8fdf8;

}

