
		<div fxFlex.gt-sm="100%" >
      <mat-card>
        <mat-card-content>
          <mat-card-title>Producciónes Académicas Registradas</mat-card-title>
        </mat-card-content>
      </mat-card>
				<mat-card>
						<mat-card-content>

									<mat-list *ngIf="produccion$ | async as produccion; else loading">

                  <mat-list-item *ngFor="let produccion of produccion$ | async">
                    <hr style="color: #0056b2;" size="10" />
                    <img mat-list-avatar src="assets/images/libro.jpg">
                    <a href={{produccion.archivo}} target="_blank" matLine >
                      {{produccion.nombreProduccion}}
                    </a>
                    <h3 matLine style="color: #fc4b6c;">{{produccion.tipo}}</h3>
                    <p matLine >{{produccion.descripcion}}</p>
                    <h3 matLine  style="color: #00897b;">_____________________________________________________________________________</h3>
                    </mat-list-item>
							</mat-list>
						</mat-card-content>
				</mat-card>
		</div>

    <ng-template #loading>
      <div class="container-spinner">
        <mat-spinner diameter='20' strokeWidth='50'></mat-spinner>
      </div>
    </ng-template>

